*.iml
.gradle
.kotlin
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
*.keystore
*.jks
google-services.json
*.apk
*.aab
app/build/
output.json
Thumbs.db
